@import '~@angular/material/theming';

@include mat-core();

$dev-theme-primary: mat-palette($mat-blue, 600);
$dev-theme-accent: mat-palette($mat-grey, 900);

$dev-theme-warn: mat-palette($mat-red);

$dev-theme: mat-light-theme($dev-theme-primary, $dev-theme-accent, $dev-theme-warn);

@include angular-material-theme($dev-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.btn-fire {
  background-color: mat-color($dev-theme-warn, 500);
  color: mat-color($dev-theme-accent, 200);
}

.btn-hire {
  background-color: mat-color($mat-green, 300);
  color: mat-color($dev-theme-accent, 200);
}

.btn-edit {
  background-color: mat-color($dev-theme-primary, 200);
  color: mat-color($dev-theme-accent, 200);
}
