@import '~@angular/material/theming';

@include mat-core();

$dev-theme-primary: mat-palette($mat-blue, 600);
$dev-theme-accent: mat-palette($mat-grey, 900);

$dev-theme-warn: mat-palette($mat-red);

$dev-theme: mat-light-theme($dev-theme-primary, $dev-theme-accent, $dev-theme-warn);

@include angular-material-theme($dev-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// TODO: Making mixin colors
.btn-hire {
  background-color: lightgreen;
  color: black;
}

.btn-fire {
  background-color: lightcoral;
  color: black;
}

.btn-edit {
  background-color: lightblue;
  color: black;
}
